body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.game-container {
  text-align: center;
}

.score-board {
  margin-bottom: 20px;
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-gap: 10px;
  margin-bottom: 20px;
}

.color-btn {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#red {
  background-color: #ff4015;
}

#blue {
  background-color: #01c7fc;
}

#green {
  background-color: #76bb40;
}

#yellow {
  background-color: yellow;
}

.color-btn.active#red {
  background-color: #5c0701; /* Darker shade of red */
}

.color-btn.active#blue {
  background-color: #0000aa; /* Darker shade of blue */
}

.color-btn.active#green {
  background-color: #002800; /* Darker shade of green */
}

.color-btn.active#yellow {
  background-color: #666100; /* Darker shade of yellow */
}

#start-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#start-btn:hover {
  background-color: #0056b3;
}
